# Tutorial byproduct
colmap-sfm
colmap-localization
sift_colmap_vocab_tree
image_retrieval_benchmark
local_features/r2d2_500/NN_no_gv/
local_features/r2d2_500/NN_colmap_gv/
vocab_tree_flickr100K_words32K.bin
